<!DOCTYPE html>
<html>
<head>
	<title>Welcome!</title>
	<% include partials/head %>
	<style type="text/css">
		.circular {
			width: 150px;
			height: 150px;
			border: 5px solid black !important;
			border-radius: 150px;
	        -webkit-border-radius: 150px;
	        -moz-border-radius: 150px;
			background: url("https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fstatic.zerochan.net%2FJack.Atlas.full.2037583.jpg&f=1") center;
	}
	</style>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
</head>
<body style="background-color: #97c6c6">

			<figure class="animated bounceInLeft circular" style="margin-left: 45%; margin-top: 14%"></figure>
			<button type="button" class="animated bounceInRight button*" style="margin-left: 43%; margin-top: 0.8%" onclick="window.location.href = <%= `'${authURL}'` %>">Login through Discord</button>
</body>
</html>